*.iml
*.iws

*.log
*gradlew

.gradle
.gradle/
/build

local.properties
.idea/
.DS_Store

/captures
.navigation/

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/

!/gradle/wrapper/gradle-wrapper.jar